{{ define "main" }}
{{ $projects := where site.RegularPages "Section" "projects" }}

{{ if gt (len $projects) 0 }}
{{ $entries := slice }}

{{ range $projects }}
{{ $project := . }}
{{ $splash := $project.Resources.GetMatch "images/splash.*" }}

{{ if $splash }}
{{ $year := "" }}

{{ with $project.Params.year }}
{{ $year = printf "%v" . }}
{{ else }}
{{ $year = $project.Date.Format "2006" }}
{{ end }}

{{ $entries = $entries | append (dict
"image" $splash.RelPermalink
"project" $project.RelPermalink
"title" $project.Title
"medium" $project.Params.medium
"date" $year
) }}
{{ end }}
{{ end }}

{{ if gt (len $entries) 0 }}
<section class="landing">
  <div class="landing-bg" id="landing-bg">
    <div class="landing-overlay">
      <a class="landing-button" href="/projects/">Enter</a>
      <a class="landing-secondary" id="landing-button" href="#">
        <span id="landing-title">Project</span>
        <br />
        <!-- <span>(</span>
        <span id="landing-date">Date</span>
        <span>)</span> -->
        <span id="landing-medium" style="font-size: smaller;">Medium</span>
      </a>
    </div>

    <div id="landing-data" style="display:none;">
      {{ range $entries }}
      <span class="landing-item" data-image="{{ .image }}" data-project="{{ .project }}" data-title="{{ .title }}"
        data-date="{{ .date }}" data-medium="{{ .medium }}">
      </span>
      {{ end }}
    </div>
  </div>
</section>

<script src="/js/splash.js"></script>
{{ else }}
<section class="landing">
  <p>No splash images found.</p>
</section>
{{ end }}
{{ else }}
<section class="landing">
  <p>No project pages found.</p>
</section>
{{ end }}
{{ end }}