<div class="content">
  
    <div class="brand">
        <h3>
                <span>B</span>
                <span>a</span>
                <span>n</span>
                <span>g</span>
                <span>&nbsp;</span>
                <span>G</span>
                <span>e</span>
                <span>u</span>
                <span>l</span>
                <span>&nbsp;</span>
                <span>H</span>
                <span>a</span>
                <span>n</span>
                <!-- <span>&nbsp;</span>
                <span>한</span>
                <span>방</span>
                <span>글</span> -->
        </h3>
    </div>
    <div class="myname">
      <a href="/about">한방글</a> 
    </div>
    <!-- <div class="actions">
        <div class="option navigation">
          <div class="content">
            <div class="icon">
              <div class="line"><div class="content"></div></div>
              <div class="line"><div class="content"></div></div>
            </div>
          </div>
        </div>
      </div> -->
</div>

<!-- <h1 style="display: none;">{{ site.Title }}</h1> -->

