 {{ define "main" }}
<section class="section about">
  <div class="content">
  <!-- <h1>{{ .Title }}</h1> -->

  <!-- {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -->
  {{ with $first_image := index (.Page.Resources.Match "images/*.*") 0 }}
    <img class="hero" src="{{ .RelPermalink }}">
  {{ end }}
  {{ with $first_image := index (.Page.Resources.Match "images/*.*") 1 }}
    <div class="image_overlay">
      <img src="{{ .RelPermalink }}">
    </div>
  {{ end }}
  {{ with $first_image := index (.Page.Resources.Match "images/*.*") 2 }}
    <div class="image_secondary">
      <img src="{{ .RelPermalink }}">
    </div>
  {{ end }}
  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
  </section>
{{ end }} 
